<div class="container-fluid bg-1 text-center">
  <h1>Eat the burger</h1>
  <img src="http://theworldsbestever.s3.amazonaws.com/blog/wp-content/uploads/2012/02/bbbbuger.gif" alt="burger GIF" class="img-circle">
</div>


<div class="container-fluid bg-2 text-center">
  <div class="row">

    <div class = "col-sm-4">
      <div id = "add_a_burger">
        <h2 id = "add_b_h2"> Add your burger</h2>
          <textarea id = "burg" type="text" name="burger_name"></textarea>
          <button class="btn btn-success" id = "add" type="button">Submit </button>
        <p id = "add_b_p" >Enter a burger you want to eat and click Submit</p>
      </div>
    </div>

    <div class = "col-sm-4">
      <h2>Burger choices!</h2>

        <ul id="dev_list">
          {{#each burgers}}
            {{#unless devoured}}
              <li>
                {{this.id}}.{{this.burger_name}}
                <button class="btn btn-success" data-burgerid="{{this.id}}" id="devour"> Devour it!</button>
              </li>
            {{/unless}}
          {{/each}}
        </ul>
    </div>
    
    <div class = "col-sm-4">
      <h2>Burgers that have been devoured!</h2>

        <ul id="del_list">
          {{#each burgers}}
            {{#if devoured}}
                <li>
                  {{this.id}}.{{this.burger_name}}
                  {{!-- <button class="btn btn-danger"data-burgerid="{{this.id}}" id="delete"> Delete it!</button> --}}
                </li>
            {{/if}}
          {{/each}}
        </ul>
    </div>
  </div>
</div>

<footer class="container-fluid bg-3 text-center">
  <p>Burger Ingestion Logger, repo hosted on: <a href="https://github.com/maxlechner/burgerLogger">Github</a></p>
</footer>

<script type="text/javascript">

$("#dev_list").on("click", "button", function () {
  console.log($(this).attr("data-burgerid"))
  const id = $(this).attr("data-burgerid")
   $.ajax("/api/burgers/" + id, {
      type: "PUT",
      data: {devoured: true}
    }).then(
      function() {
        console.log("burger devoured");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

$("#add").on("click", function () {
  console.log($("#burg").val().trim())
   $.ajax("/api/burgers/", {
      type: "POST",
      data: {burger_name: $("#burg").val().trim()}
    }).then(
      function() {
        console.log("burger saved");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#del_list").on("click", function () {
  console.log($("#burg").val().trim())
   $.ajax("/api/burgers/", {
      type: "DELETE",
      data: {burger_name: $("#burg").val().trim()}
    }).then(
      function() {
        console.log("burger saved");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

</script>
